@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Bitter', serif;
  background-color: #242DFE;
  overflow-x: hidden;
}

a {
  color: #E7E8FE;
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  font-size: 0.9rem;
}

.functionality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4%;
}

.functionality p {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.advantage-target-card {
  min-height: 169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.suscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 58px;
  min-width: 281px;
  font-size: 0.9rem;
  border-radius: 5px;
}

.suscribe-btn.white-btn {
  background-color: #E7E8FE;
  color: #242DFE;
}

.suscribe-btn.blue-btn {
  background-color: #242DFE;
  color: #E7E8FE;
}

.first-main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% auto 5% auto;
  max-width: 95%;
  min-height: 1369px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.1%, #FFFFFF), color-stop(110.16%, #F2F5FA));
  background: linear-gradient(180deg, #FFFFFF 26.1%, #F2F5FA 110.16%);
}

@media screen and (min-width: 1024px) {
  .first-main-section {
    min-height: 820px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.first-main-section .main-navbar {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

.first-main-section .main-navbar .off-mob-tab {
  display: none;
}

@media screen and (min-width: 1024px) {
  .first-main-section .main-navbar .off-desktop {
    display: none;
  }
}

.first-main-section .main-presentation {
  width: 90%;
  min-height: 887px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .first-main-section .main-presentation {
    min-height: 989px;
  }
}

@media screen and (min-width: 1024px) {
  .first-main-section .main-presentation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    min-height: 445px;
  }
}

.first-main-section .main-presentation .presentation-map {
  margin: 0 auto;
  width: 80%;
  min-height: 372px;
  background-image: url(assets/Map.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.first-main-section .main-presentation .presentation-map .user-card {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 100px rgba(36, 45, 254, 0.2);
          box-shadow: 0px 4px 100px rgba(36, 45, 254, 0.2);
  border-radius: 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 127.52px;
}

@media screen and (max-width: 320px) {
  .first-main-section .main-presentation .presentation-map .user-card {
    display: none;
  }
}

@media screen and (max-width: 428px) {
  .first-main-section .main-presentation .presentation-map .user-card {
    min-height: 100px;
  }
}

.first-main-section .main-presentation .presentation-map .user-card .user-img {
  max-height: 36px;
}

.first-main-section .main-presentation .presentation-map .user-card p {
  font-size: 0.7rem;
}

.first-main-section .main-presentation .presentation-map .user-card .country {
  font-weight: 700;
}

.first-main-section .main-presentation .presentation-map .user-card.user-card1 {
  min-width: 126.43px;
  -webkit-transform: matrix(0.97, -0.27, 0.24, 0.96, 0, 0);
          transform: matrix(0.97, -0.27, 0.24, 0.96, 0, 0);
  left: 50%;
  top: 38%;
}

@media screen and (max-width: 375px) {
  .first-main-section .main-presentation .presentation-map .user-card.user-card1 {
    top: 40%;
    left: 50%;
  }
}

.first-main-section .main-presentation .presentation-map .user-card.user-card2 {
  left: 40%;
  bottom: 70%;
  -webkit-transform: matrix(0.97, -0.27, 0.24, 0.96, 0, 0);
          transform: matrix(0.97, -0.27, 0.24, 0.96, 0, 0);
  min-width: 96.14px;
}

@media screen and (max-width: 375px) {
  .first-main-section .main-presentation .presentation-map .user-card.user-card2 {
    top: 1%;
  }
}

.first-main-section .main-presentation .presentation-map .user-card.user-card3 {
  -webkit-transform: matrix(0.98, 0.22, -0.2, 0.98, 0, 0);
          transform: matrix(0.98, 0.22, -0.2, 0.98, 0, 0);
  right: 60%;
  top: 33%;
  min-width: 126.43px;
}

@media screen and (max-width: 375px) {
  .first-main-section .main-presentation .presentation-map .user-card.user-card3 {
    left: -10%;
  }
}

.first-main-section .main-presentation .main-information-card {
  min-height: 514px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .first-main-section .main-presentation .main-information-card {
    max-height: 440px;
  }
}

@media screen and (min-width: 1024px) {
  .first-main-section .main-presentation .main-information-card {
    max-width: 690px;
  }
}

.first-main-section .main-presentation .main-information-card h1 {
  line-height: 2rem;
  width: 100%;
  font-size: 2rem;
}

.first-main-section .main-presentation .main-information-card p {
  margin: 4% auto 4% auto;
  line-height: 150%;
  width: 100%;
  font-size: 1rem;
}

@media screen and (min-width: 769px) {
  .first-main-section .main-presentation .main-information-card p {
    margin: 0;
  }
}

.first-main-section .main-presentation .main-information-card .buttons-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 142px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .first-main-section .main-presentation .main-information-card .buttons-display {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 439px;
    min-height: 63px;
    -webkit-column-gap: 3%;
            column-gap: 3%;
    font-size: 0.9rem;
  }
}

.first-main-section .main-presentation .main-information-card .buttons-display .main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 63px;
}

@media screen and (min-width: 768px) {
  .first-main-section .main-presentation .main-information-card .buttons-display .main-buttons {
    max-width: 227px;
  }
}

.first-main-section .main-presentation .main-information-card .buttons-display .main-buttons.started {
  background-color: #242DFE;
  color: #FFF;
  gap: 1%;
}

.first-main-section .main-presentation .main-information-card .buttons-display .main-buttons.working {
  width: 100%;
  gap: 4%;
  color: #595959;
  background-color: #FFF;
}

.first-main-section .main-presentation .main-information-card .ratings-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% auto 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: center;
  min-height: 67px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .first-main-section .main-presentation .main-information-card .ratings-display {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 382px;
    margin: 0;
    -webkit-column-gap: 3%;
            column-gap: 3%;
  }
}

.first-main-section .main-presentation .main-information-card .ratings-display .stars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5%;
}

@media screen and (min-width: 768px) {
  .first-main-section .main-presentation .main-information-card .ratings-display .stars-container {
    gap: 2%;
  }
}

.first-main-section .main-presentation .main-information-card .ratings-display .five-text {
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .first-main-section .main-presentation .main-information-card .ratings-display .five-text {
    max-width: 230px;
    font-size: 0.9rem;
  }
}

.first-main-section .main-presentation .main-information-card .ratings-display .five-text span {
  text-decoration: underline;
  font-weight: bold;
}

.first-main-section .main-logos {
  margin: 0 auto;
  width: 90%;
  min-height: 288px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 375px) {
  .first-main-section .main-logos {
    width: 100%;
    gap: 1%;
  }
}

@media screen and (min-width: 768px) {
  .first-main-section .main-logos {
    max-width: 498px;
    max-height: 168px;
  }
}

@media screen and (min-width: 1024px) {
  .first-main-section .main-logos {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 97%;
    min-height: 72px;
  }
}

.first-main-section .main-logos img {
  opacity: 0.5;
  max-width: 50%;
  min-height: 72px;
}

.second-section {
  max-width: 85%;
  min-height: 722px;
  margin: 15% auto -1% auto;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .second-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 95%;
    min-height: 480px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    justify-items: center;
    margin: auto;
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
}

.second-section .second-section-text-card {
  width: 100%;
  min-height: 422px;
  color: #FFF;
  margin-bottom: 10%;
}

@media screen and (min-width: 1024px) {
  .second-section .second-section-text-card {
    max-height: 300px;
    max-width: 534px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 0;
  }
}

.second-section .second-section-text-card .first-text-item {
  width: 100%;
  min-height: 218px;
  margin-bottom: 4%;
}

@media screen and (min-width: 1024px) {
  .second-section .second-section-text-card .first-text-item {
    max-height: 148px;
    max-width: 534px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
}

.second-section .second-section-text-card .first-text-item h2 {
  font-size: 2.5rem;
  line-height: 120%;
  margin-bottom: 1%;
}

@media screen and (min-width: 1024px) {
  .second-section .second-section-text-card .first-text-item h2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.second-section .second-section-text-card .first-text-item p {
  line-height: 140%;
}

@media screen and (min-width: 1024px) {
  .second-section .second-section-text-card .first-text-item p {
    font-size: 0.9rem;
  }
}

.second-section .second-section-text-card .second-text-item {
  width: 100%;
  min-height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (min-width: 1024px) {
  .second-section .second-section-text-card .second-text-item {
    max-height: 116px;
    max-width: 492px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.second-section .img-card {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 264px;
  margin-bottom: 1.2%;
}

@media screen and (min-width: 768px) {
  .second-section .img-card {
    margin: 0 0 1.2% 0;
  }
}

@media screen and (min-width: 1024px) {
  .second-section .img-card {
    max-width: 496px;
    max-height: 348px;
    margin-bottom: 0.3%;
  }
}

.third-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -3px auto 5% auto;
  width: 100%;
  min-height: 1369px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26.1%, #FFFFFF), color-stop(110.16%, #F2F5FA));
  background: linear-gradient(180deg, #FFFFFF 26.1%, #F2F5FA 110.16%);
}

@media screen and (min-width: 768px) {
  .third-section {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 1861px;
  }
}

@media screen and (min-width: 1024px) {
  .third-section {
    max-width: 98%;
    min-height: 1074px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.third-section .third-section-target {
  margin: 5% auto 1% auto;
  width: 90%;
  min-height: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #FFF;
}

@media screen and (min-width: 768px) {
  .third-section .third-section-target {
    min-height: 730px;
    max-width: 648px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .third-section .third-section-target {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1140px;
    min-height: 355px;
  }
}

.third-section .third-section-target .target-card {
  width: 100%;
  margin: 0 auto 6% auto;
  background-color: #242DFE;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .third-section .third-section-target .target-card {
    max-height: 355px;
  }
}

@media screen and (min-width: 1024px) {
  .third-section .third-section-target .target-card {
    margin: 0;
  }
}

.third-section .third-section-target .target-card h3 {
  font-weight: 400;
  font-size: 1.9rem;
}

.third-section .third-section-target .target-card p {
  line-height: 1.7rem;
}

.third-section .third-section-target .target-card.startups {
  max-height: 412px;
}

@media screen and (min-width: 1024px) {
  .third-section .third-section-target .target-card.startups {
    max-width: 560px;
    max-height: 100%;
  }
}

.third-section .third-section-target .target-card.enterprises {
  max-height: 358px;
}

@media screen and (min-width: 1024px) {
  .third-section .third-section-target .target-card.enterprises {
    max-width: 560px;
    max-height: 100%;
  }
}

.third-section .third-section-prices {
  max-width: 648px;
  min-height: 1515px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .third-section .third-section-prices {
    min-height: 891px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .third-section .third-section-prices {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 1139px;
    min-height: 479px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.third-section .third-section-prices .price-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .third-section .third-section-prices .price-card {
    max-width: 353px;
    min-height: 479px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.third-section .third-section-prices .price-card .price-tag {
  font-size: 2.8rem;
  font-weight: 700;
}

.third-section .third-section-prices .price-card h2 {
  font-size: 0.9rem;
  font-weight: 700;
}

.third-section .third-section-prices .price-card.white {
  max-width: 281px;
  min-height: 406px;
  color: #595959;
}

@media screen and (min-width: 1024px) {
  .third-section .third-section-prices .price-card.white.basic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 1024px) {
  .third-section .third-section-prices .price-card.white.pro {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media screen and (min-width: 768px) {
  .third-section .third-section-prices .price-card.white {
    max-width: 281px;
    max-height: 406px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.third-section .third-section-prices .price-card.blue {
  max-width: 353px;
  min-height: 479px;
  background-color: #242DFE;
  padding: 5%;
  color: #E7E8FE;
}

@media screen and (min-width: 768px) {
  .third-section .third-section-prices .price-card.blue {
    max-width: 648px;
    width: 100%;
    min-height: 451px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 1024px) {
  .third-section .third-section-prices .price-card.blue {
    max-height: 100%;
    max-width: 353px;
    padding: 3%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

.footer-section {
  min-height: 1057px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-section {
    min-height: 492px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-section {
    min-height: 316px;
  }
}

.footer-section .footer-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 897px;
  width: 90%;
  margin: 10% auto;
  color: #F2F5FA;
}

@media screen and (min-width: 768px) {
  .footer-section .footer-section-content {
    min-width: 648px;
    min-height: 332px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-section .footer-section-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 99%;
  }
}

.footer-section .footer-section-content .logo-footer {
  max-height: 24px;
}

.footer-section .footer-section-content p {
  line-height: 27px;
}

.footer-section .footer-section-content .footer-section-links {
  min-height: 685px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer-section .footer-section-content .footer-section-links {
    min-width: 100%;
    min-height: 130px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer-section .footer-section-content .footer-section-links {
    min-width: 624px;
  }
}

.footer-section .footer-section-content .footer-section-links .links-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 130px;
}

.footer-section .footer-section-content .footer-section-links .links-categories .categories {
  font-weight: 400;
}

.footer-section .footer-section-content .footer-section-links .links-categories .footer-links {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 20.11px;
}

@media screen and (min-width: 1024px) {
  .footer-txt-content {
    min-width: 350px;
    max-width: 429px;
  }
}
/*# sourceMappingURL=styles.css.map */