@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bitter', serif;
    background-color: #242DFE;
    overflow-x: hidden;
}

a {
    color: #E7E8FE;
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
    font-size: 0.9rem;

}


// some mixin

@mixin column-spaced-btw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin columnSpacedAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


// some recurrent styles 

.functionality {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4%;

    p {
        align-self: flex-end;
    }
}

.advantage-target-card {
    min-height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.suscribe-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 58px;
    min-width: 281px;
    font-size: 0.9rem;
    border-radius: 5px;

    &.white-btn {
        background-color: #E7E8FE;
        color: #242DFE;
    }

    &.blue-btn {
        background-color: #242DFE;
        color: #E7E8FE;
    }
}

// Sections styles

.first-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% auto 5% auto;
    max-width: 95%;
    min-height: 1369px;
    background: linear-gradient(180deg, #FFFFFF 26.1%, #F2F5FA 110.16%);

    .main-navbar {
        width: 90%;
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-presentation {
        width: 90%;
        min-height: 887px;
        display: flex;
        flex-direction: column;

        .presentation-map {
            margin: 0 auto;
            width: 80%;
            min-height: 372px;
            background-image: url(assets/Map.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: relative;

            .user-card {
                position: absolute;
                z-index: 1;
                display: flex;
                flex-direction: column;
                background: #FFFFFF;
                box-shadow: 0px 4px 100px rgba(36, 45, 254, 0.2);
                border-radius: 5px;
                justify-content: space-around;
                align-items: center;
                min-height: 127.52px;


                .user-img {
                    max-height: 36px;
                }

                p {
                    font-size: 0.7rem;

                }

                .country {
                    font-weight: 700;
                }


                &.user-card1 {
                    min-width: 126.43px;
                    transform: matrix(0.97, -0.27, 0.24, 0.96, 0, 0);
                    left: 60%;
                    top: 48%;

                }

                &.user-card2 {
                    left: 40%;
                    top: -7%;
                    transform: matrix(0.97, -0.27, 0.24, 0.96, 0, 0);
                    min-width: 96.14px;


                }

                &.user-card3 {
                    transform: matrix(0.98, 0.22, -0.2, 0.98, 0, 0);
                    left: 3%;
                    top: 33%;
                    min-width: 141.83px;
                }
            }


        }

        .main-information-card {
            min-height: 514px;
            width: 100%;

            h1 {
                line-height: 2rem;
                width: 100%;
                font-size: 2rem;
            }

            p {
                margin: 4% auto 4% auto;
                line-height: 150%;
                width: 100%;
                font-size: 1rem;
            }

            .buttons-display {

                display: flex;
                flex-direction: column;
                width: 100%;
                min-height: 142px;
                align-items: center;
                justify-content: space-between;

                .main-buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    min-height: 63px;

                    &.started {
                        background-color: #242DFE;
                        color: #FFF;
                        gap: 1%;
                    }

                    &.working {
                        gap: 4%;
                        color: #595959;
                        background-color: #FFF;
                    }
                }
            }

            .ratings-display {
                display: flex;
                margin: 5% auto 10% auto;
                flex-direction: column;
                width: 100%;
                text-align: center;
                min-height: 67px;
                align-items: center;

                .stars-container {
                    display: flex;
                    flex-direction: row;
                    gap: 5%;
                }

                .five-text {
                    width: 100%;

                    span {
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .main-logos {
        margin: 0 auto;
        width: 90%;
        min-height: 288px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 5%;

        img {
            opacity: 0.5;
            max-width: 50%;
            min-height: 72px;
        }
    }

}

.second-section {
    max-width: 85%;
    min-height: 722px;
    margin: 15% auto -1% auto;
    position: relative;

    .second-section-text-card {
        width: 100%;
        min-height: 422px;
        color: #FFF;
        margin-bottom: 10%;

        .first-text-item {
            width: 100%;
            min-height: 218px;
            margin-bottom: 4%;

            h2 {
                font-size: 2.5rem;
                line-height: 120%;
                margin-bottom: 1%;
            }

            p {
                line-height: 140%;
            }
        }

        .second-text-item {
            width: 100%;
            min-height: 168px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
        }
    }

    .img-card {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 264px;
        margin-bottom: 1.2%;
    }
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -3px auto 5% auto;
    width: 100%;
    min-height: 1369px;
    background: linear-gradient(180deg, #FFFFFF 26.1%, #F2F5FA 110.16%);

    .third-section-target {
        margin: 5% auto 1% auto;
        width: 90%;
        min-height: 790px;
        @include columnSpacedAround() color: #FFF;

        .target-card {
            width: 100%;
            margin: 0 auto 6% auto;
            background-color: #242DFE;
            padding: 5%;

            @include columnSpacedAround() h3 {
                font-weight: 400;
                font-size: 1.9rem;
            }

            p {
                line-height: 1.7rem;
            }

            &.startups {
                min-height: 412px;
            }

            &.enterprises {
                min-height: 358px;
            }



        }
    }

    .third-section-prices {
        min-height: 1515px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .price-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;


            .price-tag {
                font-size: 2.8rem;
                font-weight: 700;

            }

            h2 {
                font-size: 0.9rem;
                font-weight: 700;
            }

            &.white {
                max-width: 281px;
                min-height: 406px;
                color: #595959;

                .checked {}
            }

            &.blue {
                min-width: 100%;
                min-height: 479px;
                background-color: #242DFE;
                padding: 5%;
            }
        }

    }
}

.footer-section {
    min-height: 1057px;
    width: 100%;

    .footer-section-content {
        @include columnSpacedAround();
        align-items: flex-start;
        min-height: 897px;
        width: 90%;
        margin: 10% auto;
        color: #F2F5FA;

        .logo-footer {
            max-height: 24px;
        }

        p {
            line-height: 27px;
        }

        .footer-section-links {
            min-height: 685px;
            @include column-spaced-btw();

            .links-categories {
                @include column-spaced-btw();
                min-height: 130px;

                .categories {
                    font-weight: 400;
                }

                .footer-links {
                    font-weight: 700;
                    font-size: 0.8rem;
                    line-height: 20.11px;
                }
            }


        }
    }
}






// Media queries