@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bitter', serif;
    background-color: #242DFE;
    overflow-x: hidden;
}

a {
    color: #E7E8FE;
    text-decoration: none;
}

li {
    list-style-type: none;
}

p {
    font-size: 0.9rem;

}


// some mixin

@mixin column-spaced-btw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin columnSpacedAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


// some recurrent styles 

.functionality {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4%;

    p {
        align-self: flex-end;
    }
}

.advantage-target-card {
    min-height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.suscribe-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 58px;
    min-width: 281px;
    font-size: 0.9rem;
    border-radius: 5px;

    &.white-btn {
        background-color: #E7E8FE;
        color: #242DFE;
    }

    &.blue-btn {
        background-color: #242DFE;
        color: #E7E8FE;
    }
}

// Sections styles

.first-main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2% auto 5% auto;
    max-width: 95%;
    min-height: 1369px;
    background: linear-gradient(180deg, #FFFFFF 26.1%, #F2F5FA 110.16%);

    @media screen and (min-width: 1024px) {
        min-height: 820px;
        justify-content: space-around;
    }

    .main-navbar {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-items: center;

        .off-mob-tab{
            display: none;
        }
        
        .off-desktop{
            @media screen and (min-width: 1024px) {
                display: none;
            }
        }
    }

    .main-presentation {
        width: 90%;
        min-height: 887px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media screen and (min-width: 768px) {
            min-height: 989px;
        }

        @media screen and (min-width: 1024px) {
            flex-direction: row-reverse;
            min-height: 445px;

        }


        .presentation-map {
            margin: 0 auto;
            width: 80%;
            min-height: 372px;
            background-image: url(assets/Map.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: relative;

            .user-card {
                position: absolute;
                z-index: 1;
                display: flex;
                flex-direction: column;
                background: #FFFFFF;
                box-shadow: 0px 4px 100px rgba(36, 45, 254, 0.2);
                border-radius: 5px;
                justify-content: space-around;
                align-items: center;
                min-height: 127.52px;


                @media screen and (max-width: 320px) {
                    display: none;
                }

                @media screen and (max-width:428px) {
                    min-height: 100px;
                }

                .user-img {
                    max-height: 36px;
                }

                p {
                    font-size: 0.7rem;

                }

                .country {
                    font-weight: 700;
                }


                &.user-card1 {
                    min-width: 126.43px;
                    transform: matrix(0.97, -0.27, 0.24, 0.96, 0, 0);
                    left: 50%;
                    top: 38%;

                    @media screen and (max-width:375px) {
                        top: 40%;
                        left: 50%;
                    }





                }

                &.user-card2 {
                    left: 40%;
                    bottom: 70%;
                    transform: matrix(0.97, -0.27, 0.24, 0.96, 0, 0);
                    min-width: 96.14px;


                    @media screen and (max-width:375px) {
                        top: 1%;
                    }

                }

                &.user-card3 {
                    transform: matrix(0.98, 0.22, -0.2, 0.98, 0, 0);
                    right: 60%;
                    top: 33%;
                    min-width: 126.43px;

                    @media screen and (max-width:375px) {
                        left: -10%;
                    }

                }
            }


        }

        .main-information-card {
            min-height: 514px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;

            @media screen and (min-width: 768px) {
                max-height: 440px;
            }

            @media screen and (min-width:1024px) {
                max-width: 690px;
            }

            h1 {
                line-height: 2rem;
                width: 100%;
                font-size: 2rem;
            }

            p {
                margin: 4% auto 4% auto;
                line-height: 150%;
                width: 100%;
                font-size: 1rem;

                @media screen and (min-width: 769px) {
                    margin: 0;

                }

            }

            .buttons-display {

                display: flex;
                flex-direction: column;
                width: 100%;
                min-height: 142px;
                align-items: center;
                justify-content: space-between;

                @media screen and (min-width: 768px) {
                    flex-direction: row;
                    justify-content: flex-start;
                    min-width: 439px;
                    min-height: 63px;
                    column-gap: 3%;
                    font-size: 0.9rem;
                }


                .main-buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    min-height: 63px;

                    @media screen and (min-width: 768px) {
                        max-width: 227px;
                    }


                    &.started {
                        background-color: #242DFE;
                        color: #FFF;
                        gap: 1%;
                    }

                    &.working {
                        width: 100%;
                        gap: 4%;
                        color: #595959;
                        background-color: #FFF;
                    }
                }
            }

            .ratings-display {
                display: flex;
                margin: 5% auto 0 auto;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                text-align: center;
                min-height: 67px;
                align-items: center;

                @media screen and (min-width: 768px) {
                    flex-direction: row;
                    justify-content: flex-start;
                    min-width: 382px;
                    margin: 0;
                    column-gap: 3%;

                }

                .stars-container {
                    display: flex;
                    flex-direction: row;
                    gap: 5%;

                    @media screen and (min-width: 768px) {
                        gap: 2%;
                    }
                }

                .five-text {
                    width: 100%;
                    margin: 0;

                    @media screen and (min-width: 768px) {
                        max-width: 230px;
                        font-size: 0.9rem;

                    }

                    span {
                        text-decoration: underline;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .main-logos {

        margin: 0 auto;
        width: 90%;
        min-height: 288px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;

        @media screen and (max-width: 375px) {
            width: 100%;
            gap: 1%;
        }

        @media screen and (min-width: 768px) {
            max-width: 498px;
            max-height: 168px;
        }

        @media screen and (min-width: 1024px) {
            justify-content: space-between;
            min-width: 97%;
            min-height: 72px;
        }

        img {
            opacity: 0.5;
            max-width: 50%;
            min-height: 72px;
        }
    }

}

.second-section {
    max-width: 85%;
    min-height: 722px;
    margin: 15% auto -1% auto;
    position: relative;

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        max-width: 95%;
        min-height: 480px;
        align-items: flex-end;
        justify-items: center;
        margin: auto;
        column-gap: 5%;
    }

    .second-section-text-card {
        width: 100%;
        min-height: 422px;
        color: #FFF;
        margin-bottom: 10%;

        @media screen and (min-width: 1024px) {
            max-height: 300px;
            max-width: 534px;
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            justify-content: space-around;
            margin-bottom: 0;
        }

        .first-text-item {
            width: 100%;
            min-height: 218px;
            margin-bottom: 4%;

            @media screen and (min-width: 1024px) {
                max-height: 148px;
                max-width: 534px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 0;

            }

            h2 {
                font-size: 2.5rem;
                line-height: 120%;
                margin-bottom: 1%;

                @media screen and (min-width: 1024px) {
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                }
            }

            p {
                line-height: 140%;

                @media screen and (min-width: 1024px) {
                    font-size: 0.9rem;
                }
            }
        }

        .second-text-item {
            width: 100%;
            min-height: 168px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;

            @media screen and (min-width: 1024px) {
                max-height: 116px;
                max-width: 492px;
                align-items: stretch;


            }
        }
    }

    .img-card {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 264px;
        margin-bottom: 1.2%;

        @media screen and (min-width: 768px) {
            margin: 0 0 1.2% 0;

        }

        @media screen and (min-width: 1024px) {
            max-width: 496px;
            max-height: 348px;
            margin-bottom: 0.3%;
        }
    }
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -3px auto 5% auto;
    width: 100%;
    min-height: 1369px;
    background: linear-gradient(180deg, #FFFFFF 26.1%, #F2F5FA 110.16%);

    @media screen and (min-width: 768px) {
        justify-content: space-between;
        min-height: 1861px;

    }

    @media screen and (min-width: 1024px) {
        max-width: 98%;
        min-height: 1074px;
        justify-content: space-around;
    }

    .third-section-target {
        margin: 5% auto 1% auto;
        width: 90%;
        min-height: 790px;
        @include columnSpacedAround();
        color: #FFF;

        @media screen and (min-width: 768px) {
            min-height: 730px;
            max-width: 648px;
            justify-content: space-between;

        }

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            max-width: 1140px;
            min-height: 355px;
        }





        .target-card {
            width: 100%;
            margin: 0 auto 6% auto;
            background-color: #242DFE;
            padding: 5%;

            @include columnSpacedAround();

            @media screen and (min-width: 768px) {
                max-height: 355px;
            }

            @media screen and (min-width: 1024px) {
                margin: 0;
            }





            h3 {
                font-weight: 400;
                font-size: 1.9rem;
            }

            p {
                line-height: 1.7rem;
            }

            &.startups {
                max-height: 412px;

                @media screen and (min-width: 1024px) {
                    max-width: 560px;
                    max-height: 100%;
                }
            }

            &.enterprises {
                max-height: 358px;

                @media screen and (min-width: 1024px) {
                    max-width: 560px;
                    max-height: 100%;
                }
            }



        }
    }

    .third-section-prices {
        max-width: 648px;
        min-height: 1515px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (min-width: 768px) {
            min-height: 891px;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            flex-wrap: nowrap;
            max-width: 1139px;
            min-height: 479px;
            align-items: center;
            justify-content: space-around;
            align-content: center;
        }



        .price-card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 10px;

            @media screen and (min-width: 1024px) {
                max-width: 353px;
                min-height: 479px;
                order: 2;
            }

            .price-tag {
                font-size: 2.8rem;
                font-weight: 700;

            }

            h2 {
                font-size: 0.9rem;
                font-weight: 700;
            }

            &.white {
                max-width: 281px;
                min-height: 406px;

                color: #595959;

                &.basic {
                    @media screen and (min-width: 1024px) {
                        order: 1;
                    }
                }

                &.pro {
                    @media screen and (min-width:1024px) {
                        order: 3;
                    }
                }

                @media screen and (min-width: 768px) {
                    max-width: 281px;
                    max-height: 406px;
                    order: 1;
                    justify-content: space-between;
                }
            }

            &.blue {
                max-width: 353px;
                min-height: 479px;
                background-color: #242DFE;
                padding: 5%;
                color: #E7E8FE;


                @media screen and (min-width: 768px) {
                    max-width: 648px;
                    width: 100%;
                    min-height: 451px;
                    order: 2;
                }

                @media screen and (min-width: 1024px) {
                    max-height: 100%;
                    max-width: 353px;
                    padding: 3%;
                    align-self: stretch;


                }


            }
        }

    }
}

.footer-section {
    min-height: 1057px;
    width: 100%;

    @media screen and (min-width: 768px) {
        min-height: 492px;
    }

    @media screen and (min-width: 1024px) {
        min-height: 316px;
    }

    .footer-section-content {
        @include columnSpacedAround();
        align-items: flex-start;
        min-height: 897px;
        width: 90%;
        margin: 10% auto;
        color: #F2F5FA;

        @media screen and (min-width: 768px) {
            min-width: 648px;
            min-height: 332px;
        }
        @media screen and (min-width: 1024px) {
flex-direction: row;
max-width: 99%;
        }

        .logo-footer {
            max-height: 24px;
        }

        p {
            line-height: 27px;
        }

        .footer-section-links {
            min-height: 685px;
            @include column-spaced-btw();

            @media screen and (min-width: 768px) {
                min-width: 100%;
                min-height: 130px;
                flex-direction: row;
                justify-content: space-between;
            }

            @media screen and (min-width: 1024px){
                min-width: 624px;
            }

            .links-categories {
                @include column-spaced-btw();
                min-height: 130px;

                .categories {
                    font-weight: 400;
                }

                .footer-links {
                    font-weight: 700;
                    font-size: 0.8rem;
                    line-height: 20.11px;
                }
            }


        }
    }
}


.footer-txt-content{
    @media screen and (min-width: 1024px) {
        min-width: 350px;
        max-width: 429px;
    }
}



// Media queries